menu "Tech Packages"

source techpack/data/Kconfig
source techpack/wlan/Kconfig

endmenu

config OSSFOD
	bool "OSS FOD support"
	depends on BOARD_XIAOMI
	help
	  When this option is enabled, OSS FOD support will be added.
